/*Klasa hidden ukrywa item*/
.hidden {
  display: none;
}
/*Kolory + hover*/
.red {
	background-color: #D9534F;
}
.green {
	background-color: #5CB85C;
}
.blue {
	background-color: #428BCA;
}
.top_10 {
	margin-top: 10%;
}
.dlx_ov_hidden{
	overflow-x: hidden;
	overflow-y: hidden;
}
.dlx_margin_10 {
	margin: 10px;
	border: 0px;
	border-top: 1px solid #eee;
	box-sizing: border-box;
}
.container{
	width: 95% !important;
}
.dlx_flt{
	content: "\f14a";
}
.dlx_filtr input{
	display: none;
}