main {
  position: relative;
  height: 100vh;
  padding: .5vw;

}
/*Kontener na anime glowny*/
main .dlx_page_content {
  background: #04121e;
  position: relative;
  height: 350px;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  overflow: hidden;
}
main .dlx_page_content span {
  color: white;
  font-size: 0.8em;
  display: block;
  padding: 3px;
}
.dlx_img_page_content {
  max-height: 350px;
  height: 100%;
  max-width: 250px;
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  margin-left: 0;
  float: left;
  position: relative;
}
.dlx_tagi_page{
  padding-left: 10px;
  display: inline-block;
}
.dlx_page_tytul{
  font-family: 'Gloria Hallelujah', cursive;
}
.dlx_page_footer{
  width: 100%;
  bottom: 0;
  padding-bottom: 10px;
  position: absolute;
  margin-left: 270px;
}
.dlx_opis{
  overflow: hidden;
  text-align: left;
  max-height: 120px;
}

  /*Paginacja*/

.dlx_paginacja {
  margin:20px 0;
}
 
.dlx_paginacja ul {
  list-style:none;
  text-align: center;
}
 
.dlx_paginacja ul li {
  display:inline-block;
  margin-right:10px;
}
 
.dlx_paginacja ul li a {
  display:block;
  padding:10px 20px;
  color:#fff;
  background:#04121e;
  text-decoration: none;
}
 
.dlx_paginacja ul li a:hover {
  background:#037E8C;
}
 
.dlx_paginacja ul li .active {
  background:#037E8C;
  font-weight:bold;
}


/*Rejestracja*/
.rejestracja{
  background: #04121e;
  padding: 15px;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  margin-top: 10%;
}
.dlx_rejestracja_baner{
  font-family: 'Ultra', serif;
  text-align: center;
  padding: 10px;
}
.dlx_page_content form div label input{
  margin-right: 10px;
}
/*baner dolny strona rejestru*/
.baner{
  position: absolute;
  bottom: 0;
  clear: both;
  z-index: -1;
}
/*Ranking serca*/
.dlx_ec-stars-wrapper {
  font-size: 0;
  display: inline-block;
}
.dlx_ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Ponownie dajemy wielkosc tekstu */
  font-size: 32px;
  font-size: 2rem;
  color: #888;
}
.dlx_ec-stars-wrapper:hover a {
  color: rgb(39, 130, 228);
}
.dlx_ec-stars-wrapper > a:hover ~ a {
  color: #888;
}
.dlx_serca_ranking {
  margin-right: 150px;
}
.dlx_szukaj_body{
  background: #04121e;
  padding: 15px;
  border-radius: 15px;
  box-sizing: border-box;
}